<div>
  The buttons can change based on if someone is logged in or not*******
  <ul>
    <li><a href="">Register</a></li>
    <li><a href="">Sign In</a></li>
    <li><a href="/gamez">Home</a></li>
  </ul>
  <h1>Answer the following questions</h1>
  <form action="/gamez/id" method="post">
    <p>This is a question:</p><br>
    <input type="text" name="answer" placeholder="What's your answer?">
    <input type="submit" value="Submit your answer now!">
  </form>


  <p><a href="/gamez/id/stats">Click here to see how your stats!</a></p>
</div>
