<div>
  <h1>Welcome to the Gamez!</h1><br>
  <h2>Select a quiz!</h2>
  <ul>
    <% @decks.each do |deck| %>
      <li><form action="/gamez/<%= deck.id %>" method="post"><input type="submit" value="<%= deck.title %>"></form></li>
    <% end %>
  </ul>
</div>
