<div>
  <h1>Welcome to the Gamez!</h1>
  <ul>
    <li><a href="">Register</a></li>
    <li><a href="">Sign In</a></li>
    <!-- <li><a href="">Home</a></li> This may be unnecessary -->
  </ul>
  <ul>
    <% @decks.each do |deck| %>
      <li><a href="/gamez/id"><%= h deck.inspect %></a></li>
    <% end %>
  </ul>
</div>
