 <div>
  <ul>
    <li><a href="/gamez">Home</a></li>
  </ul>
  <h1>Here are your statistics! How did you do?</h1>

  <ul>
    <%#statistics will go here  %>
      <li>insert statistics here</li>
    <%#end %>
  </ul>
</div>
