<div class="create_account">
  <h1>Create your account now</h1>
  <%= erb :'/users/errors' if @errors && @errors.any? %>
  <form action="/users" method="post">
    <label>Username</label><br>
    <input type="text" name="user[username]" placeholder="johndoe"><br>
    <label>Email</label><br>
    <input type="text" name="user[email]" placeholder="saltysnail@getsalted.com"><br>
    <label>Password</label><br>
    <input type="password" name="user[password]" placeholder="hunter1"><br>
    <br><br>
    <input type="submit" value="Complete Registration">
  </form>
</div>
