<div>
  <ul>
    <li><a href="/gamez">Home</a></li>
  </ul>
  <h1>Create your account now</h1>
  <form action="/users" method="post">
    Username:<br>
    <input type="text" name="username" placeholder="johndoe"><br>
    Email:<br>
    <input type="text" name="email" placeholder="saltysnail@getsalted.com"><br>
    Password:<br>
    <input type="password" name="password" placeholder="hunter1"><br>
    <br><br>
    <input type="submit" value="Complete Registration">
  </form>
</div>
