<div>
  <h1>Welcome back! Please login</h1>
  <form action="/login" method="post">
    <label>Username</label><br>
    <input type="text" name="user[username]" placeholder="johndoe"><br>
    <label>Password</label><br>
    <input type="password" name="user[password]" placeholder="hunter1"><br>
    <br><br>
    <input type="submit" value="Login">
  </form>
</div>
