<div>
  <ul>
    <li><a href="/gamez">Home</a></li>
  </ul>
  <h1>Welcome back! Please login</h1>
  <form action="/users" method="post">
    Username:<br>
    <input type="text" name="username" placeholder="johndoe"><br>
    Password:<br>
    <input type="password" name="password" placeholder="hunter1"><br>
    <br><br>
    <input type="submit" value="Login">
  </form>
</div>
